 body{
            font-family: "Segoe UI", Tahoma, sans-serif;
            margin: 40px;
            background-color: #f9f9f9;
            color: #333;
            sans-serif;
             background:
            linear-gradient(135deg, #d494e8, #7dc7f6)
        }
        .container {
            max-width: 800px;
            margin: auto;
            background: #fff;
            padding: 40px;
            border-radius: 10px;
            box-shadow: 0 0 10px rgba(0,0,0,0.1);
         }
        h1, h2 {
            color: #2c3e50;
        }
        .header {
            text-align: center;
        }
        .contacts p {
            margin: 4px 0;
        }
        .section {
            margin-bottom: 25px;
        }
        ul {
            padding-left: 20px;
        }
        a {
            color: #0077cc;
            text-decoration: none;
        }
        a:hover {
            text-decoration: underline;
        }